<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heaven's Kitchen - Fast Food</title>
    <link rel="shortcut icon" href="../static/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/stylesheet.css">
    
</head>
<body>
    <div class="container-fluid ps-3 pt-3 bg-orange pb-0">
        <a href="/">
            <div class="row justify-content-center text-center">
                
                <div class="col-6   " >
                    
                    <img class='logo_img  py-1 ' src="../static/logo.png" alt="logo">
                    
                    
                    <h1 class="text-light font-rr ">Heaven's Kitchen</h1>
                    
                </div>
                
                <!--<div class="col-12 col-md-6 border border-3 border-dark" >
                    <h1 class="text-light float_l ps-3 pt-1 mb-0 font-rr ">Heven's Biryani</h1>
                    
                </div>
            -->
                
            </div>

           
        </a>

        <hr>
        <div class="row justify-content-center pb-1 text-center font_sizing_nav">


            <div class="col-md-1 col-sm-2  col-3 p-0 m-0 ">
                <a href="/"  class="">Home</a>
            </div>
            <div class="col-md-1 col-sm-2  col-3 p-0 m-0 active">
                <a href="/Menu"  class="">Menu</a>
            </div>
            <div class="col-md-1 col-sm-2  col-3 p-0 m-0">
                <a href="/Book_Table"  class=" ">Book Table</a>
            </div>

            <div class="col-md-1 col-sm-2 col-3 p-0 m-0">
                <a href="/about"  class=" ">About Us</a>
            </div>

            

            
        </div>
    </div>

    


    <div class="container-fluid background-img font-rr-nav pb-5">
        <h2 class = 'text-center fs-2 mb-0 py-3'>Fast Food</h2>
        <hr>
        <div class="row d-flex justify-content-center">
            <div class="col-3 text_start">
                <h3>Dish</h3>
            </div>

            <div class="col-3 text-end font-normal">
                <h3 >₹₹</h3>
            </div>

        </div>
        <hr>
        <div class="row d-flex justify-content-center fs-4">
            <div class="col-3 text_start">
                <p>Paneer Pizza</p>
            </div>

            <div class="col-3 text-end">
                <p>100.00</p>
            </div>

        </div>

        <div class="row d-flex justify-content-center  fs-4">
            <div class="col-3 text_start">
                <p>Chichen Pizza</p>
            </div>

            <div class="col-3 text-end">
                <p>130.00</p>
            </div>

        </div>

        <div class="row d-flex justify-content-center fs-4">
            <div class="col-3 text_start">
                <p>Veg Burger</p>
            </div>

            <div class="col-3 text-end">
                <p>50.00</p>
            </div>

        </div>

        <div class="row d-flex justify-content-center fs-4">
            <div class="col-3 text_start">
                <p>Chicken Burger</p>
            </div>

            <div class="col-3 text-end">
                <p>60.00</p>
            </div>

        </div>

        <div class="row d-flex justify-content-center fs-4">
            <div class="col-3 text_start">
                <p>Panner Sandwich</p>
            </div>

            <div class="col-3 text-end">
                <p>25.00</p>
            </div>

        </div>

        <div class="row d-flex justify-content-center fs-4">
            <div class="col-3 text_start">
                <p>Chicken Sandwich</p>
            </div>

            <div class="col-3 text-end">
                <p>35.00</p>
            </div>

        </div>

        <div class="row d-flex justify-content-center fs-4">
            <div class="col-3 text_start">
                <p>Chichen Roll</p>
            </div>

            <div class="col-3 text-end">
                <p>25.00</p>
            </div>
        
        
        </div>
    </div>

    


    <footer>
        <div class="container text-light ">
            <div class="row justify-content-center text-center"> 
                <div class="col-md-3 col-sm-12 col-lg-3">
                    <h4 class= "pt-3">Timings</h3>
                    <p class="my-1">MON-SUN : 11am to 10pm</p>
                    <p>THURS : 5pm to 10pm</p>
                </div>

                <div class="col-md-3 col-sm-12 col-lg-3">
                    <h4 class= "pt-3">Location</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
                    
                </div>

                <div class="col-md-3 col-sm-12 col-lg-3">
                    <h4 class= "pt-3">We Deliver to your door</h3>
                    <p>Contact 988754985 or order online</p>
                    
                </div>


            </div>
                <hr>
            <div class="row justify-content-center text-center">
                <p class = 'pb-3'>© Copyright - Heaven's Kitchen </p>
            </div> 
        </div>
    </footer>
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

      

      
      
</body>
</html>